<launch>
    <arg name="robot_name"             default="/a1_gazebo" />
    <!-- <arg name="base_frame"             default="base_link" /> -->
    <arg name="base_frame"             default="base" />
    <arg name="joints_map_file"        default="$(find champ_config)/config/joints/joints.yaml"/>
    <arg name="links_map_file"         default="$(find champ_config)/config/links/links.yaml"/>
    <arg name="gait_config_file"       default="$(find champ_config)/config/gait/gait.yaml"/>
    <!-- <arg name="description_file"       default="$(find champ_description)/urdf/champ.urdf"/> -->
    <arg name="description_file"       default="/home/kangsinwon/catkin_ws/src/Quadruped_Robot/robots/a1_description/urdf/a1.urdf"/>
    <arg name="gazebo"                 default="true" />
    <arg name="rviz"                   default="true" />
    <arg name="rviz_ref_frame"         default="odom"/>
    <arg name="has_imu"                default="true" />
    <arg name="lite"                   default="false" />
    <arg name="laser"                  default="sim" />
    <arg name="joint_controller_topic" default="joint_group_position_controller/command" />
    <arg name="hardware_connected"     default="false" />
    <arg name="publish_joint_control"  default="true" />
    <arg name="publish_foot_contacts"  default="true" />
    <arg name="close_loop_odom"        default="false" />

	<group>
        <node pkg="A1_base" name="A1_base" type="controller_node" output="screen">  
        </node>

        <!-- state estimator -->
        <!-- <node pkg="champ_base" name="state_estimator" type="state_estimation_node" output="screen">
            <param if="$(arg hardware_connected)" name="orientation_from_imu" value="true"/>
            <param if="$(arg gazebo)" name="orientation_from_imu" value="true"/>            
        </node>-->

        <!-- <node pkg="robot_localization" type="ekf_localization_node" name="base_to_footprint_ekf"> 
            <remap from="odometry/filtered" to="odom/local" />
            <param name="base_link_frame" value="$(arg base_frame)" />
            <rosparam command="load" file="$(find champ_base)/config/ekf/base_to_footprint.yaml" />
        </node> -->

        <!-- <node pkg="robot_localization" type="ekf_localization_node" name="footprint_to_odom_ekf"> 
            <remap from="odometry/filtered" to="odom" />
            <rosparam command="load" file="$(find champ_base)/config/ekf/footprint_to_odom.yaml" />
        </node> -->
        
        <!-- <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
            args="-d $(find champ_description)/rviz/urdf_viewer.rviz -f $(arg rviz_ref_frame)"
            output="screen"/> -->
    </group>
</launch>

